body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0 8px 8px 0;
}

.genre, .station {
  color: white;
  background-color: #5494a6;
  box-shadow: 5px 5px 5px #888;
  float: left;    
  font-size: 16px;
}

.genre {
  padding: 25px;
  border-radius: 25px;
  margin: 18px 0px 0px 18px;
}

.station {
  border-radius: 15px;
  padding: 15px;
  margin: 8px 0px 0px 8px;
}

.station.disabled {
  background-color: #d6d6d6;
}

.genre a, .station a {
  color: white;
}

.station .url {
  font-size: 12px;
}

.station .name {
  background-image: url('/styles/play.png');
  background-repeat: no-repeat;  
  padding-left: 22px;
  background-position: 0 50%;
  margin-bottom: 5px;
  cursor: pointer;
}

.station.disabled .name {
  pointer-events: none;
  cursor: default;
}

.station .ctrl.playing {
  min-width: 48px;
  min-height: 48px;
  background-image: url("/styles/speaker.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;

  animation-name: playing;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes playing {
  from {
    transform: scale(1, 1);
  }

  5% {
    transform: scale(1.2, 1.2);
  }

  10% {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 1);
  }
}
