body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

div.genre, div.station {
    border: 1px solid blue;
    background-color: yellow;
    padding: 15px;
    margin: 2px;
    float: left;    
}