<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) css/radio.css -->
        <link rel="stylesheet" href="css/radio.css">
        <!-- endbuild -->
</head>
  <body ng-app="radioApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div ng-controller="PlayerCtrl">
      <div id="header">
        <div class="container">

          <ul id="navigation" ng-controller="NavigationCtrl">
            <li ng-cloak class="ng-class:item.css" ng-click="select(item)"
              ng-repeat="item in items">{{item.label}}</a></li>
          </ul>

          <audio rd-player="currentStation.streams" 
            onPlayingStarted="playingStarted()" 
            onPlayingError="playingError()"></audio>

          <div id="station-info" class="ng-class:stateCss()" ng-click="play()">
            <div id="ctrl"></div>
            <div id="name" ng-cloak>{{currentStation.station.name}}</div>
          </div>
          
          <div id="prefs">
            <div id="prefs-btn">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div id="prefs-ddown">
              <ul>
                <li>Feedback</li>
                <li ng-click="aboutVisible = true">About</li>
              </ul>
            </div>
          </div>

          <div ng-show="aboutVisible">
            <div class="glasspane"></div>
            <div class="popup">
              <div class="popup-close" ng-click="aboutVisible = false">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <polygon 
                    points="10,0 13,0 13,7 20,7 20,13 13,13 13,20 7,20 7,13 0,13 0,7 7,7 7,0"
                    transform="translate(5 5) rotate(45 10 10)" />
                </svg>
              </div>
              <div class="popup-content">
                <div>
                  <div class="title">Padio &ndash; The Internet Radio</div>
                  <div class="subs">version: &alpha;1</div>
                </div>
                <p>Padio is developed by <a href="mailto:padio-support@gmail.com">Padio Team</a>.
                This is early access (&alpha;) release. Feel free to <a href="mailto:padio-support@gmail.com">report bugs or feature requests</a>.
                </p>
                <p>Stations catalog is provided by <a href="http://dirble.com/" target="_blank">Dirble</a>.
                Background image was created by <a href="http://www.flickr.com/photos/derstormy/" target="_blank">René Hofmann</a>.
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Add your site or application content here -->
      <div ng-view=""></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/genres.js"></script>
    <script src="scripts/services/pls.js"></script>
    <script src="scripts/services/stat.js"></script>
    <script src="scripts/services/state.js"></script>
    <script src="scripts/directives/rdPlayer.js"></script>
    <script src="scripts/controllers/player.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/recent.js"></script>
    <script src="scripts/controllers/genres.js"></script>
    <script src="scripts/controllers/subgenres.js"></script>
    <script src="scripts/controllers/stations.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

</body>
</html>
