<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ladio - The Internet Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/ladio.ico">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) css/radio.css -->
    <link rel="stylesheet" href="css/radio.css">
    <link rel="stylesheet" href="css/animations.css">
    <!-- endbuild -->
</head>
  <body ng-app="ladioApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div ng-controller="PlayerCtrl" ng-click="alertVisible = false">
      <div id="header">
        <div class="container">

          <ul id="navigation" ng-controller="NavigationCtrl">
            <li ng-cloak class="ng-class:item.css" ng-click="select(item)"
              ng-repeat="item in items">{{item.label}}</a></li>
          </ul>

          <audio rd-player="currentStation.streams" 
            onPlayingStarted="playingStarted()" 
            onPlayingError="playingError()"
            onPlayingStalled="playingStalled()"
            onPlayingResumed="playingResumed()"
            maxReconnects="3"></audio>

          <div id="station-info" ng-controller="StationInfoCtrl">
            <div id="station-info-text" class="ng-class:stateCss()">
              <div id="ctrl" ng-click="play()"></div>
              <div id="name" ng-mouseenter="showStationDetails()" ng-mouseleave="hideStationDetails()" ng-cloak>
                <div class="value" ng-click="play()">{{currentStation.station.name}}</div>
                <div id="station-info-details" ng-show="infoDetailsVisible" class="hovering" ng-cloak>
                  <div class="stream-title">
                    <div class="value" ng-switch on="stationDetails.title != null">
                      <a ng-switch-when="true" href="{{stationDetails.titleLink}}" target="_blank">{{stationDetails.title}}</a>
                      <a ng-switch-default>&hellip;</a>
                    </div>
                    <div class="label">currently playing</div>
                  </div>
                  <div class="website">
                    <div class="value" ng-switch on="!!currentStation.station.website">
                      <a ng-switch-when="true" href="{{currentStation.station.website}}" target="_blank">{{currentStation.station.website}}</a>
                      <a ng-switch-default>Unknown</a>
                    </div>
                    <div class="label">station site</div>
                  </div>
                  <div class="bitrate">
                    <span class="label">bitrate</span>
                    <span class="value">{{currentStation.station.bitrate}}</span>
                  </div>
                  <div class="country">
                    <span class="label">country</span>
                    <span class="value">{{currentStation.station.country}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="alert hovering" ng-show="alertVisible" ng-cloak>
              <div>Error connecting to station.</div>
              <div>Please try again later.</div>
            </div>
          </div>
          
          <div id="prefs" ng-cloak>
            <div id="prefs-btn">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <rect x="0" y="0" width="24" height="6"></rect>
                <rect x="0" y="0" width="24" height="6" transform="translate(0 9)"></rect>
                <rect x="0" y="0" width="24" height="6" transform="translate(0 18)"></rect>
              </svg>
            </div>
            <menu id="prefs-ddown" class="hovering">
              <li><a href="mailto:@@EMAIL">Feedback</a></li>
              <li><a href="" ng-click="aboutVisible = true">About</a></li>
            </menu>
          </div>

          <div ng-show="aboutVisible" ng-cloak>
            <div class="glasspane" ng-click="aboutVisible = false"></div>
            <div class="popup">
              <div class="popup-close" ng-click="aboutVisible = false">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <polygon 
                    points="10,0 13,0 13,7 20,7 20,13 13,13 13,20 7,20 7,13 0,13 0,7 7,7 7,0"
                    transform="translate(5 5) rotate(45 10 10)"></polygon>
                </svg>
              </div>
              <div class="head">
                <div class="title">Ladio &ndash; The Internet Radio</div>
                <div class="subs">version: @@VERSION</div>
              </div>
              <div class="body">
                <div class="app-icon"></div>
                <div>
                  <p>Ladio is developed by <a href="mailto:@@EMAIL">Ladio Team</a>.
                  This is early access (&alpha; series) release. Feel free to <a href="mailto:@@EMAIL">report bugs or feature requests</a>.
                  </p>
                  <p>Stations catalog is provided by <a href="http://dirble.com/" target="_blank">Dirble</a>.
                  Background image is adaptation of <a href="http://www.flickr.com/photos/derstormy/3929444513/" target="_blank">Good (old) radio</a> work by <a href="http://www.flickr.com/photos/derstormy/" target="_blank">René Hofmann</a>, licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en" target="_blank">Creative Commons</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Add your site or application content here -->
      <div ng-view=""></div>
    </div>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43267634-1', 'herokuapp.com');
      ga('send', 'pageview');
    </script>

    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js(.tmp) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/genres-svc.js"></script>
    <script src="scripts/services/pls.js"></script>
    <script src="scripts/services/stream-info-svc.js"></script>
    <script src="scripts/services/stat.js"></script>
    <script src="scripts/services/state.js"></script>
    <script src="scripts/services/starred.js"></script>
    <script src="scripts/directives/rd-player.js"></script>
    <script src="scripts/directives/rd-search.js"></script>
    <script src="scripts/filters/search-fltr.js"></script>
    <script src="scripts/controllers/player-ctrl.js"></script>
    <script src="scripts/controllers/search-ctrl.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/recent.js"></script>
    <script src="scripts/controllers/starred-ctrl.js"></script>
    <script src="scripts/controllers/genres.js"></script>
    <script src="scripts/controllers/subgenres.js"></script>
    <script src="scripts/controllers/stations.js"></script>
    <script src="scripts/controllers/star.js"></script>
    <script src="scripts/controllers/station-info-ctrl.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbuild -->

</body>
</html>
