<div id="breadcrumbs-ruler" class="ruler">
  <div class="container">
    <ul id="breadcrumbs">
      <li><a href="#/genres"><span>Genres</span></a></li>
      <li class="separator" ng-show="genre || genreId">&raquo;</li>
      <li>
        <a ng-show="genre" href="#/genres/{{genre.id}}/subgenres"><span>{{genre.name}}</span></a>
        <a ng-show="!genre && genreId">&hellip;</a>
      </li>
      <li class="separator" ng-show="subGenre || subGenreId">&raquo;</li>
      <li>
        <a ng-show="subGenre && subGenre.id != -1" href="#/genres/{{genre.id}}/subgenres/{{subGenre.id}}/stations"><span>{{subGenre.name}}</span></a>
        <a ng-show="subGenre && subGenre.id == -1" href="#/genres/{{genre.id}}/stations"><span>Stations</span></a>
        <a ng-show="!subGenre && subGenreId">&hellip;</a>
      </li>
    </ul>
    <div class="search-box">
      <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <circle cx="8" cy="8" r="6" 
            stroke="white" stroke-width="2" fill="none" />
          <path d="M13,13 C14,28 28,14 13,13"
            stroke="white" stroke-width="1" fill="white" />
        </svg>
      </div>
      <input type="text" placeholder="Search in genres"></input>
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <polygon 
            points="10,0 13,0 13,7 20,7 20,13 13,13 13,20 7,20 7,13 0,13 0,7 7,7 7,0"
            transform="scale(0.7) rotate(45 10 10)"></polygon>
        </svg>
      </button>
    </div>
  </div>
</div>

