<div id="privacy">
  <div class="glasspane" ng-click="popups.hideDialog('privacy')"></div>
  <div class="popup">

    <div class="cross" ng-click="popups.hideDialog('privacy')">
      <ng-include src="'/views/partials/cross.svg'"></ng-include>
    </div>

    <div class="head">
      <div class="title">Ladio Privacy Policy</div>
    </div>
    <div class="body">
        <p>This application uses <a href="http://www.google.com/analytics/"target="_blank">Google Analytics</a> to help analyse way in which it is used. Google Analytics uses "cookies" to collect data related to application usage in anonymous form. We are not collecting any personal data or data allowing for user identification.</p>
        <p>Gathered data is transmitted to Google and processed for purpose of generating usage reports. Those reports are used internally by us to help appoint directions for further development of application.</p>
        <p>If you don't want Google Analytics to report your visits please install <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics opt-out browser add-on</a>. The browser add-on is available for most modern browsers.</p>
        <p>For further information about how Google Analytics uses cookies and IP address data please see <a href="http://www.google.com/intl/en/analytics/privacyoverview.html" target="_blank">Google Analytics privacy document</a>.</p>
    </div>
  </div>
</div>
