  <div class="stations" ng-controller="StarCtrl">
    <div class="container">

      <div ng-click="play(station)" class="station ng-class:stationCss()" ng-repeat="station in stations">

        <div class="name" title="{{station.name}}">{{station.name}}</div>
        <div class="desc">{{station.bitrate}}&nbsp;{{station.country}}</div>

        <div class="fav-star ng-class:starCss(station)" ng-click="star(station); $event.stopPropagation();">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <polygon points="50.082,94.719 63.772,61.592 99.495,58.647 72.220,35.390 80.457,0.505 49.910,19.259 19.279,0.644 27.674,35.491 0.505,58.872 36.241,61.655" 
                     transform="scale(0.2) rotate(180 50 47.9)"/>
          </svg>
        </div>

      </div>

    </div>
    <div ng-hide="!!stations">
      <ng-include src="'/views/partials/spinner.html'"></ng-include>
    </div>
  </div>

