  <div class="stations">

    <div rd-player="streams" 
      onPlayingStarted="playingStarted()" onPlayingError="playingError()"
      onPlayingSuspended="playingSuspended()"></div>

    <div ng-click="play()" class="station ng-class:stationCss()" ng-repeat="station in stations" title="{{station.name}}">

      <div class="name">{{station.name}}</div>
      <div class="emph"></div>

      <div class="panel" ng-show="isPanelVisible()">
        <div><span><a href="{{station.website}}" target="blank">{{station.website}}</a></span></div>
        <div><span>Country: {{station.country}}</span></div>
        <div><span>Bitrate: {{station.bitrate}}</span></div>
        <div><span><a href="{{station.streamurl}}" target="blank">Play in external app</a></span></div>
      </div>
    </div>

  </div>

