<div class="search-box">
  <div class="search-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="8" cy="8" r="6" 
        stroke="white" stroke-width="2" fill="none"></circle>
      <path d="M13,13 C14,28 28,14 13,13"
        stroke="white" stroke-width="1" fill="white"></path>
    </svg>
  </div>
  <input type="text" placeholder="{{placeholder}}" maxlength="20" 
    ng-model="model"></input>
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon 
        points="10,0 13,0 13,7 20,7 20,13 13,13 13,20 7,20 7,13 0,13 0,7 7,7 7,0"
        transform="scale(0.7) rotate(45 10 10)"></polygon>
    </svg>
  </button>
</div>

