<div id="content">

  <ng-include src="'/views/partials/breadcrumbs.html'"></ng-include>
  <div class="genres">  
    <div class="container">
      <div class="genre" ng-repeat="genre in genres" ng-click="select(genre)"><div class="name" title="{{genre.description}}">{{genre.name}}</div></div>
    </div>
    <ng-include src="'/views/partials/spinner.html'" ng-hide="genres != null"></ng-include>
  </div>

  <div ng-show="stations">
    <ng-include src="'/views/partials/stations.html'"></ng-include>
  </div>

</div>
