<ng-include src="'/views/breadcrumbs.html'"></ng-include>
<div>
  <div ng-repeat="stream in streams"><a href="{{stream}}" target="blank">{{stream}}</a></div>
</div>
<div rd-player="streams"></div>
<div class="station ng-class: stationCss()" ng-repeat="station in stations" title="{{station.country}}&nbsp;{{station.bitrate}}">
  <div class="ctrl ng-class: playingCss()" ng-click="stop()"></div>
  <div class="name" ng-click="play()"><span>{{station.name}}</span></div>
  <div><span class="url"><a href="{{station.website}}" target="blank">{{station.website}}</a></span></div>
  <div><span class="url"><a href="{{station.streamurl}}" target="blank">Play in external app</a></span></div>
</div>
