body {
  background: #fafafa;
  font-family: "Dosis", "sans-serif";
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.genre, .station {
  color: white;
  background-color: #5494a6;
  box-shadow: 5px 5px 10px rgb(63, 63, 63);
  float: left;    
  font-size: 16px;
}

.genre {
  padding: 25px;
  border-radius: 25px;
  margin: 0px 0px 18px 18px;
}

.genre a {
  text-decoration:none;
}

.station {
  border-radius: 15px;
  padding: 15px;
  margin: 0px 0px 8px 8px;
}

.station.disabled {
  background-color: #d6d6d6;
}

.genre a, .station a {
  color: white;
}

.station .url {
  font-size: 12px;
}

.station .name {
  background-image: url('/styles/play.png');
  background-repeat: no-repeat;  
  padding-left: 22px;
  background-position: 0 50%;
  margin-bottom: 5px;
  cursor: pointer;
}

.station.disabled .name {
  pointer-events: none;
  cursor: default;
}

.station .ctrl.playing {
  min-width: 48px;
  min-height: 48px;
  background-image: url("/styles/speaker.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;

  animation-name: playing;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes playing {
  from {
    transform: scale(1, 1);
  }

  5% {
    transform: scale(1.2, 1.2);
  }

  10% {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 1);
  }
}

#header {
  background-image: -moz-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  background-image: -webkit-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  box-shadow: 0px 0px 10px rgb(63, 63, 63);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  margin-top: 58px;
}

ul#breadcrumbs {
  font-size: 16px;
  list-style-type:none;
  padding: 0;
  margin: 0;
}

ul#breadcrumbs li {
  display: inline-block;
  margin: 15px 0px 15px 15px;
}

ul#breadcrumbs li a {
  color: #fafafa;
  text-decoration:none;
}

