$ruler-color: #FAFAFA;
$station-color: rgba(76,107,150,0.95);
$playing-color: #FF802E;

.popup {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: calc(50% - 430px/2);
  left: -webkit-calc(50% - 430px/2);
  top: 75px;
  width: 445px;
  z-index: 10;
  font-size: 15px;
  text-align: justify;

  .head {
    border-radius: 5px 0 0 0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    position: relative;
    color: $ruler-color;
    background-color: $station-color;
    opacity: 0.9;

    .title {
      font-size: 20px;
      font-variant: small-caps;
    }
    .subs {
      font-size: 12px;
    }
  }
  .body {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    background-color: $ruler-color;

    a {
      text-decoration:underline;
    }
    p {
      margin-top: 1em;
    }
    p:first-child {
      margin-top: 0;
    }
  }
  
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 30;

    polygon {
      fill: $ruler-color;
    }
  }

}

.glasspane {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

.app-icon {
  background-image: url('/images/icon-shad_109x123.png');
  background-repeat: no-repeat;
  width: 113px;
  height: 123px;
  float: left;
  position: relative;
  left: -6px;
  top: -6px;
}

.cross {
  
  width: 14px;
  height: 14px;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
  }

}

.info-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  font-size: 15px;
  color: $ruler-color;
  background-color: $playing-color;
  opacity: 0.9;

  p {
    margin-right: 15px;
  }

  a {
    color: $ruler-color;
    text-decoration: underline;
  }
  
  .cross {
    position: absolute;
    top: -5px;
    right: 0px;

    polygon {
      fill: $ruler-color;
    }
  }

}
