$playing-color-bgn: #f7914f;
$playing-color-stp: #d66229;

body {
  background: #fafafa;
  font-family: Gill Sans,sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.genres {
  padding: 18px 0 0 18px;
}

.stations {
  padding: 10px 0px 0px 10px;
}

.genre, .station {
  color: white;
  background-color: #5494a6;
  box-shadow: 5px 5px 10px rgb(63, 63, 63);
  float: left;    
  font-size: 16px;
}

.genre a, .station a {
  color: white;
}

.genre {
  padding: 25px;
  border-radius: 25px;
  margin: 0px 18px 18px 0px;
  width: 130px;
  text-align: center;
  
  a {
    text-decoration:none;
  }
}

.station {
  border-radius: 15px;
  padding: 15px;
  margin: 0px 10px 10px 0px;
  width: 130px;
  cursor: pointer;

  &.disabled {
    background-color: #d6d6d6;
    .name {
      pointer-events: none;
      cursor: default;
    }
  }

  &.playing {
    animation-name: playing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-name: playing;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;

    background-color: $playing-color-bgn;
    background-image: linear-gradient(to bottom right, $playing-color-bgn, $playing-color-stp);
  }

  .panel {
    font-size: 12px;
  }

}

@keyframes playing {
  from {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(0.9, 0.9);
  }

  20% {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes playing {
  from {
    -webkit-transform: scale(1, 1);
  }

  10% {
    -webkit-transform: scale(0.9, 0.9);
  }

  20% {
    -webkit-transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1, 1);
  }
}

#header {
  background-image: -moz-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  background-image: -webkit-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  box-shadow: 0px 0px 10px rgb(63, 63, 63);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  margin-top: 49px;
}

ul#breadcrumbs {
  font-size: 16px;
  font-weight: bold;
  list-style-type:none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 15px 0px 15px 15px;
    a {
      color: #fafafa;
      text-decoration:none;
      &:hover {
        color: #5494a6;
      }
    }
  }

}


