$playing-color-bgn: #f7914f;
$playing-color-end: #d66229;
$station-color: #5494a6;
$ruler-color: #FAFAFA;
$ruler-bg-color: #888888;

body {
  background-color: #000000;
  font-family: Gill Sans,sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  outline: 0;
}

#header {
  /*background-image: -moz-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  background-image: -webkit-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(63, 63, 63) 100%);
  box-shadow: 0px 0px 10px rgb(63, 63, 63);*/
  background-color: #4c4c4c;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  overflow: auto;
  width: 100%;
}

.genres, .stations {
  padding: 10px 0 0 10px;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.genre, .station {
  color: $ruler-color;
  background-color: $station-color;
  float: left;    
  font-size: 16px;
  margin: 0px 1px 1px 0px;
  a {
    color: $ruler-color;
  }
}

.genre {
  width: 166px;

  a {
    padding: 25px;
    text-align: center;
    display: block;
  }
}

.station {
  width: 146px;
  padding: 25px;
  cursor: pointer;
  
  .name {
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    height: 38px;
  }

  &.disabled {
    background-color: #d6d6d6;
    .name {
      pointer-events: none;
      cursor: default;
    }
  }

  &.playing {
    animation-name: playing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-name: playing;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;

    background-color: $playing-color-bgn;
    color: #fafafa;
    background-image: linear-gradient(to bottom right, $playing-color-bgn, $playing-color-end);
  }

  &.suspended {
    animation-name: suspended;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: suspended;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    color: #fafafa;
  }

  .panel {
    font-size: 12px;
  }

}

ul {
  list-style-type:none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 5px 0px 5px 5px;
  }

  &#navigation {
    font-size: 16px;
    font-weight: bold;

    li {
      position: relative;
      margin: 0px 0px 0px 15px;
      padding: 15px 0;
      a {
        color: #fafafa;
      }
      &.selected div {
        height: 10px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: $playing-color-bgn;
      }
    }
  }
}

.ruler {
  background-color: $ruler-bg-color;
  padding: 10px;
  color: $ruler-color;
  font-size: 16px;
  margin-top: 10px;
  padding-left: 30px;

  li {
    margin: 0px 0px 0px 5px;
    a {
      color: $ruler-color;
      &:hover {
        color: #5494a6;
      }
    }
  }
  
  li:first-child {
    margin: 0;
  }

}

@keyframes playing {
  from {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(0.9, 0.9);
  }

  20% {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes playing {
  from {
    -webkit-transform: scale(1, 1);
  }

  10% {
    -webkit-transform: scale(0.9, 0.9);
  }

  20% {
    -webkit-transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes suspended {
  from {
    background-color: $station-color;
  }

  50% {
    background-color: $playing-color-end;
  }

  to {
    background-color: $station-color;
  }
}

@-webkit-keyframes suspended {
  from {
    background-color: $station-color;
  }

  50% {
    background-color: $playing-color-end;
  }

  to {
    background-color: $station-color;
  }
}


